body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    color: #4E4D3B;
}

h1 {
    font-family: 'Georgia', serif;
    color: #6A4E23;
    font-size: 2.5em;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.toggle-menu {
    display: none;
}

.dropbtn {
    background-color: #8F6A3D;
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: 'Georgia', serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5e1a4;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    margin-top: 10px;
}

.dropdown-content a {
    color: #6A4E23;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

.dropdown-content a:hover {
    background-color: #d2b65c;
}

.toggle-menu:checked + .dropbtn + .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #7a5a3f;
}
