* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.card img {
    width: 70%;
    height: auto;
    border-radius: 50%;
    border: 3px solid #ddd;
    margin-bottom: 20px;
}

.info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.info p {
    font-size: 1em;
    color: #777;
}

.login {
    font-weight: bold;
    margin-top: 5px;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}

button:hover {
    background-color: #45a049;
}
